@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// Set your brand colors
$primary: #2c3258;
$info: #d10995;
$footer-background-color: #2c3258;

// PERSONAL STYLES 

.typed-cursor{
  font-size: 2rem;
}

.mybox{
  font-size: 20px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 10px;
  text-shadow: 10px 10px 12px black;
}

.title {
  text-shadow: 2px 2px 3px black;
}

.herotext{
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
  text-align: left;
}

.herobox{
    box-sizing: border-box;
    padding: 50px;
    background: rgba(83, 214, 133, 0.750);
    border-radius: 10px;
}

.mytext{
  font-size: 22px;
  margin: 10px;
  text-shadow: 2px 2px 2px black;
  color: white;
}

.mainScreen {
  background-image: url(https://deih43ym53wif.cloudfront.net/la-geria-wine-grow-lanzarote-canary-islands-shutterstock_661595281_34f3af3ad8.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// .sad{
//   background-color: #2c3258;
// }

// STYLE FOR FIRST SECTION

.sense1 {
  background-image: url(https://www.lugaresdeaventura.com/sites/default/files/inline-images/caldera-pinos-de-galdar-artenara-%C2%A9-patronato-de-turismo-de-gran-canaria.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.messageboxsense1{
  box-sizing: border-box;
  padding: 50px;
  background: rgba(83, 214, 133, 0.750);
  border-radius: 10px;
}


// STYLE FOR SECOND SECTION

.sense2 {
  background-image: url(https://s0.blt.ro/guidetocanaryislands.com/img/o/media/grancanaria/events/carnival/las-palmas-de-gran-canaria/las-palmas-de-gran-canaria-carnival-spain-1200-675.1594383467.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.messageboxsense2{
  box-sizing: border-box;
  padding: 50px;
  background: rgba(228, 68, 193, 0.750);

  border-radius: 10px;
}

.sad{
  background-color: #2c3258;
}

// STYLE FOR THIRD SECTION

.sense3 {
  background-image: url(https://blogimages.musement.com/2019/09/Comida-Canaria-AdobeStock_272575441.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.messageboxsense3{
  box-sizing: border-box;
  padding: 50px;
  background: rgba(247, 229, 69, 0.750);
  border-radius: 10px;
}


// STYLE FOR FORTH SECTION

.sense4 {
  background-image: url(https://f.intersailclub.com//logos/4/f/e/4fe7e0544920140110d9c9e056a037115b8ed8876b2bd-ab25e-fit-1920-1080.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.messageboxsense4{
  box-sizing: border-box;
  padding: 50px;
  background: rgba(60, 122, 255, 0.750);
  border-radius: 10px;
}


// STYLE FOR FIFTH SECTION

.sense5 {
  background-image: url(https://entremontanas.com/wp-content/uploads/tour_img-1380315-99.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}





@import "../../node_modules/bulma/bulma.sass";